useDynLib(Nippon)
exportPattern("^[^\\.]")
import(maptools)
importFrom("sp", "CRS", "coordinates", "plot")
importFrom("grDevices", "palette")
importFrom("graphics", "lines", "plot")
importFrom("utils", "localeToCharset")
importFrom("stringr", "str_extract")
importFrom("sf", "st_read")
