useDynLib(Nippon)
exportPattern("^[^\\.]")
import(maptools)
importFrom("sp", CRS, coordinates, plot)
importFrom("graphics", lines)
importFrom("grDevices", palette)
importFrom("utils", localeToCharset)


